<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://pathfinderdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="7WJOZngk8ZlzmcCjk6RRmnfwTgFvAZlzZz3Ytxfqtk1pCa0Vb8gcA4fxCCNb9RZ0CtcgIXPrl6bgACDb5P3iRg==" />
  </appSettings>
</configuration>