<h1>Game Master</h1>

<a asp-controller="Resources" asp-action="Bestiary">Bestiary</a>
<a asp-controller="Resources" asp-action="Ability">Ability</a>
<a asp-controller="Resources" asp-action="Actions">Actions</a>
<h1>Encounter Tracker</h1>