@{
    ViewData["Title"] = "Home Page";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Page</title>
    <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer
            data-clientid="AIzaSyCHi8gEmP4ndvTFM6BmSIIWfhCwbrH0LTw.apps.googleusercontent.com"
            data-cookiepolicy="single_host_origin"
            data-requestvisibleactions="http://schema.org/AddAction"
            data-scope="https://www.googleapis.com/auth/userinfo.email"></script>
    <script>
        function onSignIn(googleUser) {
            // Get the user's ID token and send it to your server for authentication.
            var id_token = googleUser.getAuthResponse().id_token;
            // Send the token to your server using an AJAX request or a form submit.
            // ...
        }
    </script>
</head>
<body>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>