@model PathfinderToolkit.Models.User

@{
    ViewData["Title"] = "Login Page";
}


<h1>Login</h1>

@if (Model == null || string.IsNullOrEmpty(Model.Username))
{
    <form method="post">
        <div>
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" value="Username" />
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" value="password" />
        </div>
        <button type="submit" name="action" value="LoginOrRegister">Login</button>
        <button type="submit" name="action" value="LoginOrRegister">Register</button>
    </form>
}
else
{
    <p>You are already logged in as @Model.Username</p>
}

@if (Model != null )
{
    <form method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="@Model.Username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="@Model.Password" />
        </div>
        <button type="submit" name="action" value="LoginOrRegister">Login</button>
        <button type="submit" name="action" value="LoginOrRegister">Register</button>
    </form>
}