@model PathfinderToolkit.Models.User

@{
    ViewData["Title"] = "Login Page";
}


<h1>Login</h1>
<h1>Under Construction</h1>
@if (Model == null || string.IsNullOrEmpty(Model.Username))
{
    <form method="post">
        <input type="hidden" name="action" value="" />
        <div>
            <label for="Username">Username:</label>
            <input type="text" id="Username" name="Username" value="" />
        </div>
        <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" value="password" />
        </div>
        <button type="submit" name="action" value="Login" onclick="document.getElementsByName('action')[0].value='Login'">Login</button>
        <button type="submit" name="action" value="Register" onclick="document.getElementsByName('action')[0].value='Register'">Register</button>
    </form>
}
