<h1>Game Resources</h1>
<a asp-controller="Resources" asp-action="Bestiary">Bestiary</a>
<a asp-controller="Resources" asp-action="Ability">Ability</a>
<a asp-controller="Resources" asp-action="Actions">Actions</a>
<a asp-controller="Resources" asp-action="Afflictions">Afflictions</a>
<a asp-controller="Resources" asp-action="DiceRoller">Dice Roller</a>
