.diceBody {
    display: flex;
    justify-content: space-between;
}


.roll_container {
    background-color: #4a3757;
    border-radius: 15px;
    width: 20em;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.rollLabel, .hitContainer, .atkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    justify-content: center;
}

.diceCont, .rollButtonContainer {
    display: flex;
    padding: .5em 1em;
}

.rollNameContainer {
    display: flex;
    flex-direction: column;
    padding: .5em 1em;
    margin:0 .5em .5em .5em;
}


.diceImg,.rollButton,.ATKDiceImg,.HITDiceImg {
    background-color: #34273d;
    width: 5em;
    margin: 0 1em;
    padding: 1em 0;
    border-radius: 15px;
    color: antiquewhite;
}

.ATKDiceImg,.HITDiceImg {
    width: 8em;
    margin: 1em;
}

.dicetext, .hitMod, .atkMod {
    text-align: right;
    margin: 1em 0;
    width: 3em;
}

.hitMod, .atkMod {
    margin: 1em ;
}

.hitContainer {
    margin-left: .6em;
}

.currRollCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:.5em;
}

.rollName {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    padding: .5em;
    margin-left: 1em;
}

.currRollText {
    display: flex;
    text-align: left;
    width: 2em;
    padding: .5em;
    margin-left: .5em;
}